//  Industry Sector

    <form class="form">
      <label for="sector">What Is Your Industry Sector?</label>
      <select name="dropdownSector" class="dropdown">
        <option value="gm">General Manufacturing</option>
        <option value="alf">Agriculture, Livestock and Foresty</option>
        <option value="sfb">Services - Food and Beverages</option>
        <option value="sugt">Services - Utilities e.g. Gas and Telecommunications</option>
        <option value="sbf">Services - Banking and Finance</option>
        <option value="cat">Contruction and Associated Trades</option>
        <option value="pt">Public Transport</option>
        <option value="tih">Transport - Interstate and Heavy Haulage</option>
        <option value="tid">Transport - Interstate Haulage and Distribution</option>
        <option value="tlf">Transport - Light Haulage and Frieght</option>
        <option value="tps">Transport - Postal Services</option>
        <option value="tmf">Transport - Mixed Frieght</option>
        <option value="ot">Other Transport</option>
        <option value="om">Other Manufacturing</option>
        <option value="o">Other</option>
      </label>
      </select>
    </form>

      <br>
      <br>
      <br>
      <br>

//  Main Revenue

    <form class="form">
  <label for="mainRevenue">What Is Your Main Revenue Earner?</label>
  <input type="text" name="mainRevenue" class="textbox"></input>
    </form>

      <br>
      <br>
      <br>
      <br>

// Unit Sales

    <form class="form">
  <label for="unitSales">Annual Unit Sales:</label>
  <input type="number" name="unitSales" class="textbox" placeholder="0.00"></input>
    </form>

      <br>
      <br>
      <br>
      <br>

// Unit Costs

    <form class="form">
  <label for="unitCosts">Annual Unit Costs:</label>
  <input type="number" name="unitCosts" class="textbox" placeholder="0.00"></input>
    </form>

      <br>
      <br>
      <br>
      <br>

//  Return

    <form class="form">
  <label for="unitReturn">Unit Return:</label>
  <input type="number" name="unitReturn" class="textbox" placeholder="%"></input>
    </form>

      <br>
      <br>
      <br>
      <br>

//  Turnover

    <form class="form">
  <label for="grossTurnover">Gross Annual Turnover:</label>
  <input type="number" name="grossTurnover" class="textbox" placeholder="0.00"></input>
    </form>

      <br>
      <br>
      <br>
      <br>

//  Vehicle Number

    <form class="form">
  <label for="totalVehicles">Total Number of Vehicles In Fleet:</label>
  <input type="number" name="totalVehicles" class="textbox" placeholder="0"></input>
    </form>

      <br>
      <br>
      <br>
      <br>

//  Number Incidents

    <form class="form">
  <label for="annualNumber">Annual Number of Vehicle Incidents:</label>
  <input type="number" name="annualNumber" class="textbox" placeholder="0"></input>
    </form>

      <br>
      <br>
      <br>
      <br>

//  Cost Incidents

    <form class="form">
  <label for="annualCost">Annual Cost of Vehicle Incidents:</label>
  <input type="number" name="annualCost" class="textbox" placeholder="0.00"></input>
    </form>

      <br>
      <br>
      <br>
      <br>

//  Total Fleet Distance

    <form class="form">
  <label for="annualDistance">Annual Total Distance Travelled By Fleet: (kms)</label>
  <input type="number" name="annualDistance" class="textbox" placeholder="0"></input>
    </form>

      <br>
      <br>
      <br>
      <br>

//  Insurance Premium

    <form class="form">
  <label for="annualPremium">Annual Fleet Insurance Premium:</label>
  <input type="number" name="annualPremium" class="textbox" placeholder="0.00"></input>
    </form>

      <br>
      <br>
      <br>
      <br>

//  Excess Per Insurance Claim

    <form class="form">
  <label for="excessClaim">Excess Per Insurance Claim:</label>
  <input type="number" name="excessClaim" class="textbox" placeholder="0.00"></input>
    </form>

      <br>
      <br>
      <br>
      <br>


//  Grey Fleet Vehicle Number


//  Total Grey Fleet Distance